<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <link th:href="@{/css/base.css}" rel="stylesheet" />  
   <link th:href="@{/css/main.css}" rel="stylesheet" />
   <link th:href="@{/css/vendor.css}" rel="stylesheet" />     
   <!-- script
   ================================================== -->
	<script th:src="@{/js/modernizr.js}"></script>
</head>
<body>
	<header>
		<div class="row">
			<div class="logo">
				<a href="/"></a>
			</div>
			<nav id="main-nav-wrap">
				<ul class="main-navigation">
					<li class="current"><a class="smoothscroll" href="/index" title="">首页</a></li>
					<li><a class="smoothscroll" href="#process" title="">process</a></li>
					<li><a class="smoothscroll" href="#features" title="">Features</a></li>
					<li><a class="smoothscroll" href="#pricing" title="">Pricing</a></li>
					<li><a class="smoothscroll" href="#faq" title="">FAQ</a></li>
					<li><a href="/v1/rest/account/login" title="">登陆/注册</a></li>
				</ul>
			</nav>
			<a class="menu-toggle" href="#"><span>Menu</span></a>
		</div>
	</header>
	   <!-- Java Script
   ================================================== --> 
   <script th:src="@{/js/jquery-1.11.3.min.js}"></script>
   <script th:src="@{/js/jquery-migrate-1.2.1.min.js}"></script>
   <script th:src="@{/js/plugins.js}"></script>
   <script th:src="@{/js/main.js}"></script>
</body>
</html>